.header {
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 9;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    h2 {
        font-size: 20px;
        margin: 0;
        text-transform: uppercase;
        text-align: center;
    }
}