.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    background-color: #fff;
    .copyright-text {
        text-align: center;
        font-size: 14px;
    }
}